.box_image > img{
    height: 100%;
}


.list{
    width: 100%;
    height: 100px;
    overflow:hidden;
    display:flex;
    margin-bottom:16px;
    border:1px solid black;
}


.list > .box_title{
    background-color:white;
    display:flex;
    align-items:flex-end;
}